# Node modules
node_modules/

# Build output
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Temporary files
*.tmp
*.temp

# Coverage reports
coverage/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Other files to ignore
*.log
*.tgz
*.zip
*.tar.gz
*.bak
