html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #a0a0a0;
    font-family: Verdana;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

p, h2 {
    color: white;
    line-height: 1.5;
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 5px; 
    padding: 10px 50px;
    background-color: #5e5e5e;
    color: white;
}

.title {
    margin: 0;
    font-size: 32px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
}

.navbar_element:hover {
    color: #cecece;
    border: solid 1px white;
    border-radius: 5px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1); 
    transition: background-color 0.3s ease;
}

.main-container {
    flex: 1; /* Allows main content to grow and take available space*/
    display: flex;
    flex-direction: column; 
    padding: 20px;
    height: auto; /* adjusts to the content */
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #5e5e5e; 
    color: white;
    bottom: 0; 
    width: 100%;
}

#sign-up {
    text-align: center;
    border: solid 1px white;
}

#sign-up input[type='text'] {
    border-radius: 5px;
}

#sign-up input[type='text']:focus {
    border-color: darkblue;
    outline: none;
}
/*#email, #password, #firstName, #lastName, #age, #height, #weight*/

.submit-btn {
    background-color: navy;
    color: white;
    padding: 15px 65px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: darkblue;
}

#login {
    text-align: center;
    border: solid 1px white;
}
